<section class="dish-editor">
  <h3 class="editor-title">{{ listTitle }}</h3>
  <div class="dishes-content">
    <dishes-list-items
      [listItems]="listItems"
      [selectItem]="selectItem"
      [selectedListItem]="selectedListItem"
    ></dishes-list-items>
    <dish-details
      [selectedListItem]="selectedListItem"
      [listItemTitle]="listItemTitle"
      [enableEditing]="enableEditing"
      [isAdding]="isAdding"
    ></dish-details>
  </div>
  <dish-form
    title="Edit dish"
    [dish]="selectedListItem"
    *ngIf="isEditing; else formAdding"
    [cancelEditing]="cancelEditing"
    [isAdding]="isAdding"
    [isEditing]="isEditing"
  ></dish-form>

  <ng-template #formAdding>
    <dish-form
      title="Add new dish"
      *ngIf="isAdding; else controls"
      [cancelEditing]="cancelAdding"
      [isAdding]="isAdding"
      [isEditing]="isEditing"
    ></dish-form>
  </ng-template>
  <ng-template #controls>
    <div class="btn-add-container flex-center">
      <app-button
        [ok]="true"
        (click)="enableAdding()"
        btnText="Add Dish"
      ></app-button>
    </div>
  </ng-template>
</section>
