.dishes-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & > * {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 760px) {
  .dishes-content {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}
