@use "./app/style/reset";
@use "./app/style/sizes";
@use "./app/style/colors";
@use "./app/style/fonts";
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Open+Sans:wght@500&display=swap");

body {
  font-family: fonts.$main-font;
  color: colors.$text-color;
}

.container {
  max-width: sizes.$container-width;
  margin: 0 auto;
  padding: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor__title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin: 1rem 0rem;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  width: 100%;
  margin: 1rem 0rem;
  flex-wrap: wrap;
}

.editor-form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 50%;
}

.form__title {
  text-align: center;
  margin-bottom: 0.5rem;
}
.loading {
  text-align: center;
}

.form-item-wrapper {
  padding: 1rem;
  border: 1px solid colors.$admin-form-border-color;

  select {
    padding: 0.25rem;
  }
}

.validation {
  small {
    color: colors.$btn-danger;
  }
}

.input__title,
.weights-title {
  font-weight: bold;
}

@media (max-width: 760px) {
  .editor-form {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .editor-form {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 1rem 0.5rem;
  }
}
