@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("./app/style/_reset.scss");
@import url("./app/style/_variables.scss");

body {
  font-family: var(--main-font, sans-serif);
  color: var(--text-color);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
