<section class="category-editor">
  <h3 class="editor-title">{{ listTitle }}</h3>
  <div class="categories-content">
    <category-list-items
      [listItems]="listItems"
      [selectItem]="selectItem"
      [selectedListItem]="selectedListItem"
    ></category-list-items>
    <category-item-details
      [selectedListItem]="selectedListItem"
      [listItemTitle]="listItemTitle"
      [enableEditing]="enableEditing"
      [isAdding]="isAdding"
    ></category-item-details>
  </div>
  <category-form
    title="Edit category"
    [category]="selectedListItem"
    *ngIf="isEditing; else formAdding"
    [cancelEditing]="cancelEditing"
    [isAdding]="isAdding"
    [isEditing]="isEditing"
  ></category-form>

  <ng-template #formAdding>
    <category-form
      title="Add new category"
      *ngIf="isAdding; else controls"
      [cancelEditing]="cancelAdding"
      [isAdding]="isAdding"
      [isEditing]="isEditing"
    ></category-form>
  </ng-template>
  <ng-template #controls>
    <div class="btn-add-container flex-center">
      <app-button
        [ok]="true"
        (click)="enableAdding()"
        btnText="Add Category"
      ></app-button>
    </div>
  </ng-template>
</section>
