<div class="category-wrapper flex-center">
  <h3 class="sub-category">{{ listItemTitle }}</h3>
  <div class="category-detail" *ngIf="selectedListItem">
    <p class="category__name">Name: {{ selectedListItem.name }}</p>
    <p class="category__parent">Parent: {{ parentName }}</p>
    <p class="category__show">Show: {{ selectedListItem.show }}</p>
  </div>
  <div class="btn-edit-container flex-center">
    <app-button
      [ok]="true"
      [small]="true"
      [isDisabled]="isAdding"
      (click)="enableEditing()"
      btnText="Edit Category"
    >
    </app-button>
    <app-button
      [cancel]="true"
      [small]="true"
      [isDisabled]="isAdding"
      (click)="deleteCategory()"
      btnText="Delete Category"
    >
    </app-button>
  </div>
</div>
