<div class="info-view">
  <div class="items-container">
    <div class="label">
      <p class="label__static">Title</p>
      <p class="label__variable">{{ info.title }}</p>
    </div>
    <div class="label">
      <p class="label__static">Address</p>
      <p class="label__variable">{{ info.address }}</p>
    </div>
    <div class="label">
      <p class="label__static">Manager number</p>
      <p class="label__variable">{{ info.tel }}</p>
    </div>
    <div class="label">
      <p class="label__static">Wifi password</p>
      <p class="label__variable">{{ info.wifi }}</p>
    </div>
  </div>
</div>
