<form class="editor-form" [formGroup]="dishForm" (ngSubmit)="onSubmit()">
  <h4 class="form__title">{{ title }}</h4>
  <app-input formControlName="name" label="Name: " id="name"></app-input>
  <div
    *ngIf="dishForm.controls.name.touched && dishForm.controls.name.invalid"
    class="validation"
  >
    <small *ngIf="dishForm.controls.name.errors?.required"
      >Name field is required</small
    >
    <small *ngIf="dishForm.controls.name.errors?.maxlength"
      >Name field length should be less than 30 symbols</small
    >
    <small *ngIf="dishForm.controls.name.errors?.emptyString"
      >Name cannot contain spaces only</small
    >
  </div>
  <div class="form-item-wrapper text-area-wrapper">
    <label for="desc">Description: </label>
    <textarea id="desc" type="text" formControlName="description"></textarea>
  </div>
  <div
    *ngIf="
      dishForm.controls.description.touched &&
      dishForm.controls.description.invalid
    "
    class="validation"
  >
    <small *ngIf="dishForm.controls.description.errors?.maxlength"
      >Description field length should be less than 255 symbols</small
    >
  </div>
  <div class="form-item-wrapper" *ngIf="!previewSource">
    <label for="image">Image: </label>
    <input
      id="image"
      type="file"
      formControlName="img"
      (change)="handleImageInputChange($event)"
      accept="image/*"
    />
  </div>
  <div
    class="image-preview flex-center form-item-wrapper"
    *ngIf="previewSource"
    title="Image preview"
  >
    <img
      [src]="previewSource"
      alt="Preview image"
      class="image-preview__image"
    />
    <button
      type="button"
      class="delete-image flex-center"
      (click)="clearPreviewImage()"
    >
      X
    </button>
  </div>
  <app-checkbox formControlName="show" label="Show: "></app-checkbox>
  <div class="form-item-wrapper">
    <label for="category">Category: </label>
    <select formControlName="category" id="category" required>
      <option [ngValue]="category.id" *ngFor="let category of categoriesList">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="portion-container form-item-wrapper" formArrayName="weights">
    <div class="portions__header">
      <span>Portions</span>
      <app-button [add]="true" (click)="addWeight()" btnText="Add"></app-button>
    </div>
    <div
      class="portion__item form-item-wrapper"
      *ngFor="let portionForm of weights.controls; let i = index"
    >
      <ng-container [formGroupName]="i">
        <div class="portion__container">
          <input type="text" formControlName="portion" placeholder="100gr" />
          <input type="text" formControlName="price" placeholder="100$" />
        </div>
        <app-button
          [cancel]="true"
          [small]="true"
          (click)="deletePortion(i)"
          btnText="Delete"
        ></app-button>
      </ng-container>
    </div>
  </div>
  <div class="buttons-container">
    <app-button
      [submit]="true"
      [isDisabled]="!dishForm.valid || !dishForm.dirty"
      btnText="Submit"
    >
    </app-button>
    <app-button [cancel]="true" (click)="cancelEditing()" btnText="Cancel">
    </app-button>
  </div>
</form>
