//textarea
.text-area-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & textarea {
    flex-grow: 1;
    resize: none;
  }
}

.portions__header {
  display: flex;
  align-items: center;
  flex-direction: column;

  & * {
    margin-bottom: 0.5rem;
  }
}

.image-preview {
  margin: 0 auto;
  position: relative;
  width: 100%;

  &__image {
    width: 300px;
    object-fit: contain;
  }
}
.delete-image {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #727070;
  cursor: pointer;
}
.portion__item,
.portion__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.portion__item {
  input {
    padding: 0.25rem;
  }
  app-button {
    margin-left: auto;
  }
}
.portion__item + .portion__item {
  margin-top: 0.5rem;
}
