@use "../../../style/colors";

.no-dishes {
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
  color: colors.$secondary-color;
}
.loading {
  min-height: 300px;
  font-size: 36px;
  text-align: center;
}
