<div class="dish-wrapper flex-center">
  <h3 class="sub-category">{{ listItemTitle }}</h3>
  <div class="dish-detail" *ngIf="selectedListItem">
    <p class="dish-name">Name: {{ selectedListItem.name }}</p>
    <p class="dish-desc">Description: {{ selectedListItem.description }}</p>
    <p class="dish-image">Img link: {{ dishImageString }}</p>
    <p class="dish-name">Show: {{ selectedListItem.show }}</p>
    <p class="dish-name">Category: {{ itemCategory }}</p>
    <div class="weights">
      <p class="weights-title">Weights</p>
      <p
        class="weight-item"
        *ngFor="let pair of selectedListItem.weights | keyvalue"
      >
        {{ pair.key }}: {{ pair.value }}
      </p>
    </div>
  </div>
  <div class="btn-edit-container flex-center">
    <app-button
      [ok]="true"
      [small]="true"
      [isDisabled]="isAdding"
      (click)="enableEditing()"
      btnText="Edit Dish"
    >
    </app-button>
    <app-button
      [cancel]="true"
      [small]="true"
      [isDisabled]="isAdding"
      (click)="deleteDish()"
      btnText="Delete Dish"
    >
    </app-button>
  </div>
</div>
