<article class="dish">
  <img [src]="dish.img" [alt]="dish.name" class="dish__poster" />
  <div class="description">
    <h3 class="dish__name">{{ dish.name }}</h3>
    <p class="description__text">
      {{ dish.description || "No description is provided" }}
    </p>
    <div class="details">
      <p class="dish__category">Category: {{ categoryName }}</p>
      <ul class="weights">
        <li *ngFor="let item of dish.weights | keyvalue">
          {{ item.key }} : {{ item.value }}
        </li>
      </ul>
    </div>
  </div>
</article>
