.btn {
  min-width: 6rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
