@use "../../../style/colors";

.btn {
  padding: 0.5rem;
  width: 250px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: colors.$text-color;
  &:disabled {
    background-color: colors.$btn-disabled;
    cursor: not-allowed;
  }
}
.btn_submit {
  background-color: colors.$btn_submit;
}
.btn_ok {
  background-color: colors.$btn_ok;
}
.btn_cancel {
  background-color: colors.$btn-danger;
}
.btn_add {
  background-color: colors.$btn_submit;
}
.btn_close {
  background-color: colors.$primary-color;
}
.btn_small {
  width: 150px;
}
.btn_largeFont {
  font-size: 22px;
}
