.popup {
  position: fixed;
  top: -2000px;
  left: 0;
  z-index: 100;
  transition: top 0.5s, left 0.5s;
  .back-layer {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s 0.5s ease-in-out;
    width: 100vw;
    height: 100vh;
  }
}
.activePopup {
  top: 0px;
  .back-layer {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.popup__content {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 50%;
  min-height: 200px;
  max-width: 700px;
  background-color: var(--popup-bg-color);
  transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 30px;
  border: 5px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;

  h4 {
    text-decoration: underline;
    margin-bottom: 1rem;
  }
}

.label {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border: 1px solid #ddd;
  & + & {
    margin: 1rem 0rem;
  }
  .info-label {
    margin-right: 0.25rem;
  }
}

.label__static {
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
}
.label__variable {
  word-wrap: anywhere;
}

@media (min-width: 1200px) {
  .popup__content {
    min-width: auto;
  }
}
@media (max-width: 1200px) {
  .popup__content {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .popup {
    top: 0;
    left: 2000px;
  }
  .popup__content {
    top: 50%;
  }
  .activePopup {
    left: 0;
  }
  .popup__content {
    width: 40%;
    height: 100vh;
    max-height: 100vh;
    border: none;
    left: 75%;
    border: 2px solid var(--secondary-color);
    border-right: none;
    border-radius: 5px;
  }
}
@media (max-width: 700px) {
  .popup__content {
    width: 100vw;
    left: 50%;
    max-width: 100vw;
    border: none;
  }
}
