<div class="category-wrapper flex-center">
  <h3 class="sub-category">{{ listItemTitle }}</h3>
  <div class="category-detail" *ngIf="selectedListItem">
    <p class="category__name">
      <span class="input__title">Name: </span> {{ selectedListItem.name }}
    </p>
    <p class="category__parent">
      <span class="input__title">Parent: </span>{{ parentName }}
    </p>
    <p class="category__show">
      <span class="input__title">Show: </span>{{ selectedListItem.show }}
    </p>
  </div>
  <div class="buttons-container">
    <app-button
      [ok]="true"
      [small]="true"
      [isDisabled]="isAdding"
      (click)="enableEditing()"
      btnText="Edit Category"
    >
    </app-button>
    <app-button
      [cancel]="true"
      [small]="true"
      [isDisabled]="isAdding"
      (click)="deleteCategory()"
      btnText="Delete Category"
    >
    </app-button>
  </div>
</div>
