:root {
  --text-color: white;
  --text-secondary-color: black;
  --main-font: "Aclonica";
  --container-width: 1200px;
  --secondary-color: #cd3a26;
  --primary-color: #eb862c;
  --body-color: #231f20;
  --popup-bg-color: #4f4c4d;
  --active-category: #cd3a26;
}
