@use "../../../../style/colors";

.list-container {
  height: 150px;
  border: 1px solid colors.$default-dark;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.list-items {
  position: relative;
}
.list-items::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../../../../../assets/scroll.svg");
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  animation: bounce 2s infinite ease-in-out;
}
.item-title {
  height: 50px;
  border: 1px solid colors.$default-dark;
  cursor: pointer;
}
.selected {
  background-color: colors.$selected-item-color;
}

.input-wrapper {
  margin: 1rem 0rem;
}
.search-input {
  padding: 0.5rem 1rem;
  width: 50%;
}
@media (max-width: 760px) {
  .list-items {
    margin-bottom: 1rem;
  }
}
@keyframes bounce {
  from {
    top: 0.5rem;
  }
  50% {
    top: 1rem;
  }
  to {
    top: 0.5rem;
  }
}
