@use "../../../style/colors";

.nav-container {
  background-color: colors.$body-color;
  padding-bottom: 0;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid colors.$primary-color;
    padding-bottom: 1rem;

    li {
      font-size: 30px;
      margin-top: 1rem;
      cursor: pointer;
    }
    li + li {
      margin-left: 5%;
    }
  }
}

.dropdown {
  padding: 10px;
  border: none;
  border-right: 10px solid colors.$text-color;
  outline: none;
  width: 50%;
  border-radius: 4px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  margin: 0 auto;
  display: none;
}

.activeCategory {
  color: colors.$active-category;
}
@media (max-width: 900px) {
  .nav-container ul {
    display: none;
  }
  .dropdown {
    display: block;
  }
}
@media (max-width: 700px) {
  .dropdown {
    width: 70%;
  }
}
@media print {
  .nav-container {
    display: none;
  }
}
