<nav>
  <div class="container nav-container">
    <ul class="categories-horizontal">
      <li
        *ngFor="let category of primaryCategoriesList"
        (click)="changeCategoryFromNav(category)"
      >
        {{ category.name }}
      </li>
    </ul>
    <select
      class="dropdown"
      (change)="changeCategory($event)"
      [value]="selectedCategory.id"
    >
      <option
        *ngFor="let category of primaryCategoriesList"
        [value]="category.id"
      >
        {{ category.name }}
      </option>
    </select>
  </div>
</nav>
