<form class="editor-form" [formGroup]="infoForm" (ngSubmit)="onSubmit()">
  <app-input formControlName="title" label="Title: " id="title"></app-input>
  <app-input
    formControlName="address"
    label="Address: "
    id="address"
  ></app-input>
  <app-input formControlName="tel" label="Manager phone: " id="tel"></app-input>
  <app-input
    formControlName="wifi"
    label="Wifi password: "
    id="wifi"
  ></app-input>
  <div class="buttons-container">
    <app-button
      type="submit"
      [submit]="true"
      [isDisabled]="!infoForm.valid || !infoForm.dirty"
      btnText="Submit"
    >
    </app-button>
    <app-button
      [cancel]="true"
      (click)="cancelEditing()"
      btnText="Cancel"
    ></app-button>
  </div>
</form>
