<form class="info-form" [formGroup]="infoForm" (ngSubmit)="onSubmit()">
  <div class="input-wrapper">
    <label for="title">Title: </label>
    <input id="title" type="text" formControlName="title" required />
  </div>
  <div class="input-wrapper">
    <label for="address">Address: </label>
    <input id="address" type="text" formControlName="address" required />
  </div>
  <div class="input-wrapper">
    <label for="tel">Manager phone: </label>
    <input id="tel" type="text" formControlName="tel" required />
  </div>
  <div class="input-wrapper">
    <label for="wifi">Wi-Fi password: </label>
    <input id="wifi" type="text" formControlName="wifi" />
  </div>
  <div class="btn-container">
    <app-button
      type="submit"
      [submit]="true"
      [isDisabled]="!infoForm.valid || !infoForm.dirty"
      btnText="Submit"
    >
    </app-button>
    <app-button
      [cancel]="true"
      (click)="cancelEditing()"
      btnText="Cancel"
    ></app-button>
  </div>
</form>
