<form class="dish-form" [formGroup]="dishForm" (ngSubmit)="onSubmit()">
  <h4 class="form-title">{{ title }}</h4>
  <div class="input-wrapper">
    <label for="title">Name: </label>
    <input id="title" type="text" formControlName="name" required />
  </div>
  <div class="input-wrapper text-area-wrapper">
    <label for="address">Description: </label>
    <textarea
      id="address"
      type="text"
      formControlName="description"
      required
    ></textarea>
  </div>
  <div class="input-wrapper">
    <label for="tel">Image link: </label>
    <input id="tel" type="text" formControlName="img" required />
  </div>
  <div class="input-wrapper">
    <div class="checkbox-wrapper">
      Show:
      <label class="switch" for="show">
        <input type="checkbox" id="show" formControlName="show" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="tel">Category: </label>
    <select formControlName="category" required>
      <option [ngValue]="category.id" *ngFor="let category of categoriesList">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="btn-container">
    <button
      type="submit"
      class="btn btn-submit"
      [disabled]="!dishForm.valid || !dishForm.dirty"
    >
      Submit
    </button>
    <button type="button" class="btn btn-cancel" (click)="cancelEditing()">
      Cancel
    </button>
  </div>
  <p>{{ dishForm.value | json }}</p>
</form>
