//textarea
.text-area-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & textarea {
    flex-grow: 1;
    resize: none;
  }
}

.portions__header {
  display: flex;
  align-items: center;
  flex-direction: column;

  & * {
    margin-bottom: 0.5rem;
  }
}

.image-preview {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.delete-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #727070;
  cursor: pointer;
}

.portion__item {
  display: flex;

  app-button {
    margin-left: auto;
  }
  input + input {
    margin-left: 0.5rem;
  }
}
.portion__item + .portion__item {
  margin-top: 0.5rem;
}
