.dish-form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 50%;
}
.input-wrapper {
  padding: 1rem;
  border: 1px solid var(--admin-form-border-color);
}
.btn-container {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-title {
  text-align: center;
  margin-bottom: 0.5rem;
}

//custom checkbox
.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 0.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//textarea
.text-area-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & textarea {
    flex-grow: 1;
    resize: none;
  }
}

.portions__header {
  display: flex;
  align-items: center;
  flex-direction: column;

  & * {
    margin-bottom: 0.5rem;
  }
}

.image-preview {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.delete-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #727070;
  cursor: pointer;
}

.portion__item {
  display: flex;

  app-button {
    margin-left: auto;
  }
  input + input {
    margin-left: 0.5rem;
  }
}
.portion__item + .portion__item {
  margin-top: 0.5rem;
}
