<form class="dish-form" [formGroup]="dishForm" (ngSubmit)="onSubmit()">
  <h4 class="form-title">{{ title }}</h4>
  <div class="input-wrapper">
    <label for="title">Name: </label>
    <input id="title" type="text" formControlName="name" required />
  </div>
  <div class="input-wrapper text-area-wrapper">
    <label for="address">Description: </label>
    <textarea
      id="address"
      type="text"
      formControlName="description"
      required
    ></textarea>
  </div>
  <div class="input-wrapper">
    <label for="tel">Image link: </label>
    <input id="tel" type="text" formControlName="img" required />
  </div>
  <div class="input-wrapper">
    <div class="checkbox-wrapper">
      Show:
      <label class="switch" for="show">
        <input type="checkbox" id="show" formControlName="show" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="tel">Category: </label>
    <select formControlName="category" required>
      <option [ngValue]="category.id" *ngFor="let category of categoriesList">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="portion-container input-wrapper" formArrayName="weights">
    <div class="portions__header">
      <span>Portions</span>
      <button type="button" (click)="addWeight()" class="btn btn-submit">
        Add
      </button>
    </div>
    <div
      class="portion__item"
      *ngFor="let portionForm of weights.controls; let i = index"
    >
      <ng-container [formGroupName]="i">
        <input
          type="text"
          formControlName="portion"
          placeholder="Name a portion"
        />
        <input
          type="text"
          formControlName="price"
          placeholder="Price of the portion"
        />
        <button
          type="button"
          class="btn btn-small btn-cancel"
          (click)="deletePortion(i)"
        >
          Delete
        </button>
      </ng-container>
    </div>
  </div>
  <div class="btn-container">
    <button
      type="submit"
      class="btn btn-submit"
      [disabled]="!dishForm.valid || !dishForm.dirty"
    >
      Submit
    </button>
    <button type="button" class="btn btn-cancel" (click)="cancelEditing()">
      Cancel
    </button>
  </div>
</form>
