<form class="editor-form" [formGroup]="dishForm" (ngSubmit)="onSubmit()">
  <h4 class="form__title">{{ title }}</h4>
  <div class="input-wrapper">
    <label for="title">Name: </label>
    <input id="title" type="text" formControlName="name" required />
  </div>
  <div class="input-wrapper text-area-wrapper">
    <label for="address">Description: </label>
    <textarea
      id="address"
      type="text"
      formControlName="description"
      required
    ></textarea>
  </div>
  <div class="input-wrapper" *ngIf="!previewSource">
    <label for="image">Image: </label>
    <input
      id="image"
      type="file"
      formControlName="img"
      required
      (change)="handleImageInputChange($event)"
      accept="image/*"
    />
  </div>
  <div
    class="image-preview flex-center"
    *ngIf="previewSource"
    title="Image preview"
  >
    <img [src]="previewSource" alt="Preview image" />
    <button
      type="button"
      class="delete-image flex-center"
      (click)="clearPreviewImage()"
    >
      X
    </button>
  </div>
  <div class="input-wrapper">
    <div class="checkbox-wrapper">
      Show:
      <label class="switch" for="show">
        <input type="checkbox" id="show" formControlName="show" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="category">Category: </label>
    <select formControlName="category" id="category" required>
      <option [ngValue]="category.id" *ngFor="let category of categoriesList">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="portion-container input-wrapper" formArrayName="weights">
    <div class="portions__header">
      <span>Portions</span>
      <app-button [add]="true" (click)="addWeight()" btnText="Add"></app-button>
    </div>
    <div
      class="portion__item"
      *ngFor="let portionForm of weights.controls; let i = index"
    >
      <ng-container [formGroupName]="i">
        <input
          type="text"
          formControlName="portion"
          placeholder="Name a portion"
        />
        <input
          type="text"
          formControlName="price"
          placeholder="Price of the portion"
        />
        <app-button
          [cancel]="true"
          [small]="true"
          (click)="deletePortion(i)"
          btnText="Delete"
        ></app-button>
      </ng-container>
    </div>
  </div>
  <div class="buttons-container">
    <app-button
      [submit]="true"
      [isDisabled]="!dishForm.valid || !dishForm.dirty"
      btnText="Submit"
    >
    </app-button>
    <app-button [cancel]="true" (click)="cancelEditing()" btnText="Cancel">
    </app-button>
  </div>
</form>
