<section class="dishes">
  <div class="container dishes-container">
    <ng-container *ngIf="selectedCategory.name === 'All'; else dishesList">
      <app-single-category
        [category]="category"
        *ngFor="let category of primaryCategoriesList"
        [allSelected]="true"
      ></app-single-category>
    </ng-container>
    <ng-template #dishesList>
      <app-single-category
        [category]="selectedCategory"
        [allSelected]="false"
      ></app-single-category>
    </ng-template>
  </div>
</section>
