@use "../../../style/colors";

.dishes,
.dishes-container {
  height: 100%;
}
.dishes-container {
  background-color: colors.$body-color;
}
@media (max-width: 400px) {
  .dishes-container {
    padding: 1rem 0.25rem;
  }
}
