<form class="category-form" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <h4 class="form-title">{{ title }}</h4>
  <div class="input-wrapper">
    <label for="title">Name: </label>
    <input id="title" type="text" formControlName="name" required />
  </div>
  <div class="input-wrapper">
    <div class="checkbox-wrapper">
      Show:
      <label class="switch" for="show">
        <input type="checkbox" id="show" formControlName="show" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="tel">Parent: </label>
    <select formControlName="parent">
      <option [ngValue]="null">Null</option>
      <option [ngValue]="category.id" *ngFor="let category of categoriesList">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="btn-container">
    <app-button
      [submit]="true"
      [isDisabled]="!categoryForm.valid || !categoryForm.dirty"
      btnText="Submit"
    >
    </app-button>
    <app-button [cancel]="true" (click)="cancelEditing()" btnText="Cancel">
    </app-button>
  </div>
</form>
