.single-category + .single-category {
  margin-top: 2rem;
}
.category-title {
  padding-left: 10%;
}
@media screen and (max-width: 900px) {
  .category-title {
    padding-left: 0;
    text-align: center;
  }
}
