@use "../../../style/colors";

.single-category + .single-category {
  margin-top: 2rem;
}
.single-category__title {
  padding-left: 10%;
  margin-bottom: 1rem;
}

.no-dishes {
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
  color: colors.$secondary-color;
}
.loading {
  min-height: 300px;
  font-size: 36px;
  text-align: center;
}

@media (max-width: 900px) {
  .single-category__title {
    padding-left: 0;
    text-align: center;
  }
}

@media print {
  .single-category__title {
    text-align: center;
    padding-left: 0;
  }
}
