.list-container {
  height: 150px;
  border: 1px solid black;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.item-title {
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
.selected {
  background-color: var(--selected-item-color);
}
.input-wrapper {
  margin: 1rem 0rem;
}
.search-input {
  padding: 0.5rem 1rem;
  width: 50%;
}
@media (max-width: 760px) {
  .list-items {
    margin-bottom: 1rem;
  }
}
